@CHARSET "UTF-8";
#cart_info {
    background-color: #e40037;
    color: white;
    float: right;
    padding: 10px 20px;
    text-align: right;
}

#header_content #cart_info a:link, #header_content #cart_info a:visited {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}
a {
    color: #e40037;
}
#header_content #cart_info {
    color: white;
    text-align: right;
}
header {
    color: #342020;
}
