<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="lib/blog.css" stylesheet="text/css">
	<title>ブログブック</title>
</head>
<body>
	<section id="blogapp">
		<header id="header">
			<form action="#" id="addBlog">
				<div>
					<label for="title">タイトル:</label>
					<input type="text" id="title">
					<br><br>
					<label for="message">内　容　:</label>
					<textarea id="message" rows="4" cols="40"></textarea>
					<button id="add">追加</button>
				</div>
			</form>
		</header>
		<section id="main">
			<div id="blogList"></div>
		</section>
	</section>
	<script id="blogtemplate" type="text/template">
		<div class="view">
			<ul>
				<li><%= title %></li>
				<li><%= message %></li>
			</ul>
			<button class="editbutton">編集</button>
			<button class="delete">削除</button>
		</div>
		<input class="edit" name="title" value=<%= title %> >
		<textarea class="edit" name="message" rows="4" cols="40"><%= message %></textarea>
		<button class="edit"name="save">編集を終了</button>
		<button class="edit" name="cancel">キャンセル</button>
	</script>

	<script type="text/javascript" src="lib/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="lib/underscore-min.js"></script>
	<script type="text/javascript" src="lib/backbone-min.js"></script>
	<script type="text/javascript" src="src/model/blog.js"></script>
	<script type="text/javascript" src="src/collection/blogList.js"></script>
	<script type="text/javascript" src="src/View/BlogListView.js"></script>
	<script type="text/javascript" src="src/View/BlogView.js"></script>
	<script type="text/javascript" src="src/app.js"></script>



</body>
</html>